---
layout: base
---

<section class="c-Section">
  <div class="c-MarkdownText">
    {% capture section %}{% include copy/intro.md %}{% endcapture %}
    {{ section | markdownify }}
  </div>

  <div class="c-Screenshot">
    <img class="c-Screenshot__image" src="/assets/images/screenshot1.png" style="margin-bottom: -20%">
  </div>
</section>

<section class="c-Section c-Section--tint u-padding-bottom-larger">
  <div class="c-MarkdownText">
    {% capture section %}{% include copy/infrastructure.md %}{% endcapture %}
    {{ section | markdownify }}

    {% capture section %}{% include copy/budgets.md %}{% endcapture %}
    {{ section | markdownify }}
  </div>

  <div class="c-Screenshot c-Screenshot--narrow">
    <img class="c-Screenshot__image" src="/assets/images/screenshot2.png" style="margin-bottom: -100%; margin-top: 20px">
  </div>
</section>

<section class="c-Section">
  <div class="c-Companies">
    <p>Helping these organisations (and <a href="https://github.com/speedtracker/speedtracker/network/members">many others</a>) keep an eye on web performance:</p>

    <div class="c-Companies__logos">
      <a href="https://bbc.github.io/iplayer-web-speedtracker/">
        <img class="c-Companies__logo" src="/assets/images/logos/bbc.png">
      </a>

      <a href="https://rbna.github.io/speedtracker/">
        <img class="c-Companies__logo" src="/assets/images/logos/redbulltv.png">
      </a>

      <a href="https://etalab.github.io/speedtracker/">
        <img class="c-Companies__logo" src="/assets/images/logos/datagouvfr.png">
      </a>

      <a href="https://tidal-engineering.github.io/speedtracker/">
        <img class="c-Companies__logo" src="/assets/images/logos/tidal.png">
      </a>

      <a href="https://cul.github.io/cdrs-speedtracker/">
        <img class="c-Companies__logo" src="/assets/images/logos/columbiauniversity.png">
      </a>

      <a href="https://uconn.github.io/speedtracker/">
        <img class="c-Companies__logo" src="/assets/images/logos/uconn.png">
      </a>

      <a href="https://commonsense-org.github.io/speedtracker/">
        <img class="c-Companies__logo" src="/assets/images/logos/commonsense.png">
      </a>

      <a href="https://20minutes.github.io/speedtracker/">
        <img class="c-Companies__logo" src="/assets/images/logos/20minutes.png">
      </a>

      <a href="https://yummly.github.io/speedtracker/">
        <img class="c-Companies__logo" src="/assets/images/logos/yummly.png">
      </a>
    </div>
  </div>
</section>
