<header class="c-Header{% if page.url == '/' %} c-Header--extended{% endif %}">
  {% if page.url != '/' %}
    <div class="c-Header__nav">
      <a class="c-NavLink" href="/">← Back</a>
    </div>
  {% endif %}
  
  {% if page.url == '/' %}
    {% include partials/logo.html width=200 %}
    <br>
    {% include partials/logoTitle.html class="c-Header__title" width=240 %}

    <p class="c-Header__subtitle">{{ site.description }}</p>

    <div class="c-Header__links">
      <a href="https://demo.speedtracker.org" class="c-Header__link c-Button">View Demo</a>
      <a href="/docs" class="c-Header__link c-Button">Documentation</a>
    </div>

    <div class="c-Header__nav">
      <a class="c-NavLink" href="/test">Run test</a>
      <a class="c-NavLink" href="/encrypt">Encrypt</a>
      <a class="c-NavLink" href="/connect">Connect</a>
    </div>

    <div class="c-Header__external-links">
      <a style="visibility: hidden" class="github-button" href="https://github.com/speedtracker" data-style="mega" aria-label="Follow @speedtracker on GitHub">View on GitHub</a>
      <a style="visibility: hidden" class="twitter-follow-button" data-show-count="false" href="https://twitter.com/speed_tracker" data-size="large">Follow @speed_tracker</a>
    </div>

    {% include partials/waves.html extended=true %}
  {% else %}
    <a href="/">
      {% include partials/logo.html width=100 %}
      <h1 class="c-Header__page-title">{{ page.title }}</h1>
    </a>

    {% include partials/waves.html %}
  {% endif %}

</header>