.c-Footer {
  font-size: dp-size('small');
  margin-top: dp-spacing('larger');
  padding: 30px;
  text-align: center;

  a {
    color: dp-color('accent');
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-Footer--tint {
  background-color: dp-color('background-shade-1');
}