.c-Header {
  background-color: dp-color('accent');
  color: white;
  position: relative;
  padding: 50px 0 5% 0;
  text-align: center;
}

.c-Header--extended {
  padding-bottom: 15%;
}

.c-Header__nav {
  margin-top: dp-spacing('large') * -1;
  margin-bottom: dp-spacing('larger');

  @include media('>=medium') {
    position: absolute;
    top: dp-spacing();
    left: dp-spacing();
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1000;
  }
}

.c-Header__external-links {
  display: none;
  position: absolute;
  top: dp-spacing();
  right: dp-spacing();

  @include media('>=medium') {
    display: block;
  }
}

.c-Header__title {
  display: block;
}

.c-Header__page-title {
  margin-top: dp-spacing('small');
  font-size: dp-size('large');
}

.c-Header__subtitle {
  margin-top: dp-spacing();
}

.c-Header__links {
  margin-top: dp-spacing('larger');
}

.c-Header__link {
  & + & {
    margin-left: dp-spacing('large');
  }
}

.c-Header__waves {
  position: absolute;
  left: 0;
  bottom: -5px;
}