.c-Header {
  background-color: dp-color('accent');
  color: white;
  position: relative;
  padding: 50px 0 10% 0;
  text-align: center;
}

.c-Header--extended {
  padding-bottom: 15%;
}

.c-Header__back {
  border: 1px solid transparent;
  padding: 10px;
  position: absolute;
  top: dp-spacing();
  left: dp-spacing();
  transition: border-color 0.3s ease-out;

  &:hover {
    border-color: dp-color('secondary');
  }
}

.c-Header__title {
  display: block;
}

.c-Header__page-title {
  margin-top: dp-spacing('small');
  font-size: dp-size('large');
}

.c-Header__subtitle {
  margin-top: dp-spacing();
}

.c-Header__links {
  margin-top: dp-spacing('larger');
}

.c-Header__link {
  & + & {
    margin-left: dp-spacing('large');
  }
}

.c-Header__waves {
  position: absolute;
  left: 0;
  bottom: -5px;
}