.c-TextField {
  background-color: dp-color('accent');
  color: dp-color('secondary');
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 6px 6px 6px;

  input {
    border-width: 4px 0 0 0;
    border-style: solid;
    border-color: transparent transparent dp-color('accent') transparent;
    background: dp-color('secondary');
    display: block;
    font-size: dp-size('large');
    margin: 4px 0 0 0;
    outline: 0;
    padding: 5px 10px;
    transition: border-color 0.6s ease-out;
    -webkit-border-radius: 0;

    &:focus {
      border-color: dp-color('primary');
    }
  }

  ::-webkit-input-placeholder {
     color: #aaa;
  }

  :-moz-placeholder {
     color: #aaa;  
  }

  ::-moz-placeholder {
     color: #aaa;  
  }

  :-ms-input-placeholder {  
     color: #aaa;  
  }  
}

.c-TextField--expand {
  width: 100%;

  input {
    width: 100%;
  }
}

